* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	align-items: start;

	background-image: url("../../../public/office.jpg");
	background-size: cover;
}

.content {
	flex: 1;
}

.dialogue {
	border: solid 1px rgb(185, 51, 51);
	padding: 8ch;
	margin-bottom: 2ch;
	text-align: left;
	position: relative;
	background-color: rgba(245, 222, 179, 0.404);
}

.CharaName {
	padding-left: 2ch;
	padding-right: 2ch;
	border: solid 1px black;
}
